<h1>Listing genres</h1>

<% @genres.each do |genre| %>
	<p><%= genre.name %> --- <%= link_to 'Show', genre %> --- <%= link_to 'Edit', edit_genre_path(genre) %> --- <%= link_to 'Destroy', genre, confirm: 'Are you sure?', method: :delete %></p>
    <p><%= genre.source_id %></p>

<% end %>

<br />


<%= link_to 'New Genre', new_genre_path %>