<p id="notice"><%= notice %></p>

<h1><%= @source.name %></h1>

<% @source.genres.each do |genre| %>
	Genre: <%= genre.name %>
<% end %>


<p><%= link_to 'Edit', edit_source_path(@source) %> </p>
<p><%= link_to 'Back', sources_path %></p>