<h1>Listing articles</h1>
<a class="btn btn-primary btn-large" href="/users/logout">Log out</a>
<p>Total: <%= @stats["count_list"] %><p>
<p>Read: #<%= @stats["count_read"] %><p>
<p>Unread: #<%= @stats["count_unread"] %><p>
<p><% @ %>
<ol>
<% @articles.each do |article| %>
	<li>Title: <%= link_to article.title, article.url %> ---
		Short: <%= link_to article.shortlink, article.shortlink %>
		Status: <% if article.state == "1" %>
					Read
				<% else %>
					Unread
				<% end %>
				 -- Time: <%= Time.at(article.time_added).strftime("%B %d, %Y %I:%M%p") %>
				</li>
<% end %>
</ol>
