<h1>Listing users</h1>

<% @list.each do |item| %>
	<%= link_to item[1]["url"], item[1]["url"] %><br />
<% end %>

<% @users.each do |user| %>

    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>

<% end %>


<br />

<%= link_to 'New User', new_user_path %>